<!DOCTYPE html>
<html>
<head>
	<title>list</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" type="text/css" href="{{path}}static/my.css">
	<link rel="stylesheet" type="text/css" href="{{path}}static/bootstrap.css">
	<link rel="shortcut icon" type="image/x-icon" href="{{path}}static/assets/fav2.png" />

	
</head>

<body>

<div class="header"></div>





<div class="col-lg-1"></div>
<div class="container col-lg-10">

{% for i in topic%}
<a href="/topic/{{topic[i]}}">{{i}}</a><br/>
{% endfor %}


</div>






</body>
</html>