<!DOCTYPE html>
<html>
<head>
	<title>{{feeds[0].topic}}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" type="text/css" href="{{path}}static/my.css">
	<link rel="stylesheet" type="text/css" href="{{path}}static/bootstrap.css">
	<link rel="shortcut icon" type="image/x-icon" href="{{path}}static/assets/fav2.png" />

	
</head>
<body style="background-image: url('{{path}}static/assets/bg.jpg'); ">



<div class="header"></div>





<div class="col-lg-1"></div>
<div class="container col-lg-10">
<section>




{% for i in feeds[0:3] %}
	<div class="col-lg-4 frame-3">
	<div class="mid">
	
		<div class="inframe-3">
		<a href="{{i.link}}"  target="_blank" class="no-underline" style="text-decoration: none;">
		<div class="thumb-3" style="background-image: url('{{i.image}}'),url('{{path}}static/images/onerror.jpg');"></div>
		<p class="feed-title-3">{{i.title}}</p>
		</a>
		<p class="feed-source">{{i.date}} . {{i.tag}}</p>
		<p class="feed-summary">{{i.summary}}</p>
		</div>
	</div>
	</div>

{% endfor %}

<!-- ########################################### -->


{% for i in feeds[3:7] %}
	<div class="col-lg-3 frame-4">
	<div class="mid">
	
		<div class="inframe-4">
		<a href="{{i.link}}"  target="_blank" class="no-underline" style="text-decoration: none;">
		<div class="thumb-4" style="background-image: url('{{i.image}}'),url('{{path}}static/images/onerror.jpg');"></div>
		<p class="feed-title-4">{{i.title}}</p>
		</a>
		<p class="feed-source">{{i.date}} . {{i.tag}}</p>
		<p class="feed-summary">{{i.summary}}</p>
		</div>
	</div>
	</div>

{% endfor %}



<!-- ################################################## -->


{% for i in feeds[7:9] %}

	<div class="col-lg-6 frame-2">
	<div class="mid">
		<div class="inframe-2">
		

		<div class="col-lg-6">
		<a href="{{i.link}}"  target="_blank">
		<div class="thumb-2" style="background-image: url('{{i.image}}'),url('{{path}}static/images/onerror.jpg');"></div>
		</a>
		</div>

		<div class="col-lg-6">
			<a href="{{i.link}}"  target="_blank" style="text-decoration: none;"">
			<p class="feed-title-2">{{i.title}}</p>
			</a>
			<p class="feed-source">{{i.date}} . {{i.tag}}</p>
			<p class="feed-summary">{{i.summary}}</p>
		</div>
		
		</div>
	</div>
	</div>

{% endfor %}	
	
<!-- ################################################## -->


{% for i in feeds[9:15] %}
	<div class="col-lg-4 frame-3">
	<div class="mid">
	
		<div class="inframe-3">
		<a href="{{i.link}}"  target="_blank" class="no-underline" style="text-decoration: none;">
		<div class="thumb-3" style="background-image: url('{{i.image}}'),url('{{path}}static/images/onerror.jpg');"></div>
		<p class="feed-title-3">{{i.title}}</p>
		</a>
		<p class="feed-source">{{i.date}} . {{i.tag}}</p>
		<p class="feed-summary">{{i.summary}}</p>
		</div>
	</div>
	</div>

{% endfor %}

<!-- ################################################## -->


{% for i in feeds[15:17] %}

	<div class="col-lg-6 frame-2">
	<div class="mid">
		<div class="inframe-2">
		

		<div class="col-lg-6">
		<a href="{{i.link}}"  target="_blank">
		<div class="thumb-2" style="background-image: url('{{i.image}}'),url('{{path}}static/images/onerror.jpg');"></div>
		</a>
		</div>

		<div class="col-lg-6">
			<a href="{{i.link}}"  target="_blank" style="text-decoration: none;">
			<p class="feed-title-2">{{i.title}}</p>
			</a>
			<p class="feed-source">{{i.date}} . {{i.tag}}</p>
			<p class="feed-summary">{{i.summary}}</p>
		</div>
		
		</div>
	</div>
	</div>

{% endfor %}	

<!-- ################################################## -->


{% for i in feeds[17:21] %}
	<div class="col-lg-3 frame-4">
	<div class="mid">
	
		<div class="inframe-4">
		<a href="{{i.link}}"  target="_blank" class="no-underline" style="text-decoration: none;">
		<div class="thumb-4" style="background-image: url('{{i.image}}'),url('{{path}}static/images/onerror.jpg');"></div>
		<p class="feed-title-4">{{i.title}}</p>
		</a>
		<p class="feed-source">{{i.date}} . {{i.tag}}</p>
		<p class="feed-summary">{{i.summary}}</p>
		</div>
	</div>
	</div>

{% endfor %}

<!-- ################################################## -->


{% for i in feeds[21:27] %}
	<div class="col-lg-4 frame-3">
	<div class="mid">
	
		<div class="inframe-3">
		<a href="{{i.link}}"  target="_blank" class="no-underline" style="text-decoration: none;">
		<div class="thumb-3" style="background-image: url('{{i.image}}'),url('{{path}}static/images/onerror.jpg');"></div>
		<p class="feed-title-3">{{i.title}}</p>
		</a>
		<p class="feed-source">{{i.date}} . {{i.tag}}</p>
		<p class="feed-summary">{{i.summary}}</p>
		</div>
	</div>
	</div>

{% endfor %}

<!-- ################################################## -->




</section>

</div>

<div class="col-lg-1"></div>
<div class="header">ooooooooooooooooo</div>





</body>
</html>