<!DOCTYPE html>
<html>
<head>
	<title>feeds</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" type="text/css" href="static/my.css">
	<link rel="stylesheet" type="text/css" href="static/bootstrap.css">
	
</head>
<body>




<section>

<div class="col-lg-1"></div>
<div class="container col-lg-10">
<section>


	<div class="col-lg-4 frame-4">
	<div class="mid">
	
		<div class="inframe">
		<a href="http://google.com" class="no-underline" style="text-decoration: none;">
		<div class="thumb-4" style="background-image: url('static/img/3.jpeg');"></div>
		<p class="feed-title">{{feeds[0].title}}</p>
		</a>
		<p class="feed-source">Verge</p>
		<p class="feed-summary">{{feeds[0].summary}}</p>
		</div>
	</div>
	</div>
	<div class="col-lg-4 frame-4">
	<div class="mid">
	
		<div class="inframe">
		<a href="http://google.com">
		<div class="thumb-4" style="background-image: url('static/img/1.jpeg');"></div>
		<p class="feed-title">{{feeds[1].title}}</p>
		</a>
		<p class="feed-source">Verge</p>
		<p class="feed-summary">{{feeds[1].summary}}</p>
		</div>
	
	</div>
	</div>
<div class="col-lg-4 frame-4">
<div class="mid">
	
		<div class="inframe">
		<a href="http://google.com">
		<div class="thumb-4" style="background-image: url('static/img/2.jpeg');"></div>
		<p class="feed-title">{{feeds[2].title}}</p>
		</a>
		<p class="feed-source">Verge</p>
		<p class="feed-summary">{{feeds[2].summary}}</p>
		</div>

</div>
</div>


<!-- ########################################### -->

<div class="col-lg-3 frame">
<div class="mid">
		<div class="inframe">
		<a href="http://google.com">
		<div class="thumb" style="background-image: url('static/img/3.jpeg');"></div>
		<p class="feed-title">A Leading Roboticist Just Gave a Bold Prediction for the Singularity</p>
		</a>
		<p class="feed-source">Verge</p>
		<p class="feed-summary">In 30 years, the singularity will happen and artificial intelligence in all the smart devices and robots will exceed human intelligence. That was the …</p>
		</div>
</div>	
</div>

<div class="col-lg-3 frame">
<div class="mid">
		<div class="inframe">
		<a href="http://google.com">
		<div class="thumb" style="background-image: url('static/img/3.jpeg');"></div>
		<p class="feed-title">A Leading Roboticist Just Gave a Bold Prediction for the Singularity</p>
		</a>
		<p class="feed-source">Verge</p>
		<p class="feed-summary">In 30 years, the singularity will happen and artificial intelligence in all the smart devices and robots will exceed human intelligence. That was the …</p>
		</div>
</div>	
</div>

<div class="col-lg-3 frame">
<div class="mid">
		<div class="inframe">
		<a href="http://google.com">
		<div class="thumb" style="background-image: url('static/img/3.jpeg');"></div>
		<p class="feed-title">A Leading Roboticist Just Gave a Bold Prediction for the Singularity</p>
		</a>
		<p class="feed-source">Verge</p>
		<p class="feed-summary">In 30 years, the singularity will happen and artificial intelligence in all the smart devices and robots will exceed human intelligence. That was the …</p>
		</div>
</div>	
</div>

<div class="col-lg-3 frame">
<div class="mid">
		<div class="inframe">
		<a href="http://google.com">
		<div class="thumb" style="background-image: url('static/img/3.jpeg');"></div>
		<p class="feed-title">A Leading Roboticist Just Gave a Bold Prediction for the Singularity</p>
		</a>
		<p class="feed-source">Verge</p>
		<p class="feed-summary">In 30 years, the singularity will happen and artificial intelligence in all the smart devices and robots will exceed human intelligence. That was the …</p>
		</div>
</div>	
</div>


<!-- ################################################## -->

	<div class="col-lg-6 frame-two">
	<div class="mid">
		<div class="inframe-two">
		

		<div class="col-lg-6">
		<a href="http://google.com">
		<div class="thumb" style="background-image: url('static/img/9.jpeg');"></div>
		</a>
		</div>

		<div class="col-lg-6">
			<a href="http://google.com">
			<p class="feed-title">A Leading Roboticist Just Gave a Bold Prediction for the Singularity</p>
			</a>
			<p class="feed-source">Verge</p>
			<p class="feed-summary">In 30 years, the singularity will happen and artificial intelligence in all the smart devices and robots will exceed human intelligence. That was the …</p>
		</div>
		
		</div>
	</div>
	</div>

	<div class="col-lg-6 frame-two">
	<div class="mid">
		<div class="inframe-two">
		

		<div class="col-lg-6">
		<a href="http://google.com">
		<div class="thumb" style="background-image: url('static/img/9.jpeg');"></div>
		</a>
		</div>

		<div class="col-lg-6">
			<a href="http://google.com">
			<p class="feed-title">A Leading Roboticist Just Gave a Bold Prediction for the Singularity</p>
			</a>
			<p class="feed-source">Verge</p>
			<p class="feed-summary">In 30 years, the singularity will happen and artificial intelligence in all the smart devices and robots will exceed human intelligence. That was the …</p>
		</div>
		
		</div>
	</div>
	</div>
	


<!--  ################################################ -->


<div class="col-lg-3 frame">
<div class="mid">
		<div class="inframe">
		<a href="http://google.com">
		<div class="thumb" style="background-image: url('static/img/3.jpeg');"></div>
		<p class="feed-title">A Leading Roboticist Just Gave a Bold Prediction for the Singularity</p>
		</a>
		<p class="feed-source">Verge</p>
		<p class="feed-summary">In 30 years, the singularity will happen and artificial intelligence in all the smart devices and robots will exceed human intelligence. That was the …</p>
		</div>
</div>	
</div>

<div class="col-lg-3 frame">
<div class="mid">
		<div class="inframe">
		<a href="http://google.com">
		<div class="thumb" style="background-image: url('static/img/3.jpeg');"></div>
		<p class="feed-title">A Leading Roboticist Just Gave a Bold Prediction for the Singularity</p>
		</a>
		<p class="feed-source">Verge</p>
		<p class="feed-summary">In 30 years, the singularity will happen and artificial intelligence in all the smart devices and robots will exceed human intelligence. That was the …</p>
		</div>
</div>	
</div>

<div class="col-lg-3 frame">
<div class="mid">
		<div class="inframe">
		<a href="http://google.com">
		<div class="thumb" style="background-image: url('static/img/3.jpeg');"></div>
		<p class="feed-title">A Leading Roboticist Just Gave a Bold Prediction for the Singularity</p>
		</a>
		<p class="feed-source">Verge</p>
		<p class="feed-summary">In 30 years, the singularity will happen and artificial intelligence in all the smart devices and robots will exceed human intelligence. That was the …</p>
		</div>
</div>	
</div>

<div class="col-lg-3 frame">
<div class="mid">
		<div class="inframe">
		<a href="http://google.com">
		<div class="thumb" style="background-image: url('static/img/3.jpeg');"></div>
		<p class="feed-title">A Leading Roboticist Just Gave a Bold Prediction for the Singularity</p>
		</a>
		<p class="feed-source">Verge</p>
		<p class="feed-summary">In 30 years, the singularity will happen and artificial intelligence in all the smart devices and robots will exceed human intelligence. That was the …</p>
		</div>
</div>	
</div>


</section>

</div>



</section>

<script type="text/javascript">
	
var title=document.getElementsByClassName('feed-title');
var feeds=eval('{{ feeds }}');
console.log(feeds.length)

for(var i=0;i<title.length;i++)
	document.getElementsByClassName('feed-title')[i].innerHTML=feeds[i].title;


</script>



</body>
</html>