<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Article</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>

        <div id="title"> {{article.title | safe}} </div>
        <div id="content"> {{article.content | safe}} </div>
        <div id="image" > 
            <img src= {{ article.picture_location | safe}} alt="no picture" width="200" height="200">
        </div>

        <h2> Comments </h2>

        {% for comment in article.comments %}
            <div id=comment.comment_id> {{ comment.content | safe }} </div>
        {% endfor %}

       
        
    </body>
</html>