<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Article Editor</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"> </script>
      
    </head>
    <body>

        <!-- Will later move this script to a separate file-->
         <script>
            
                var send_data = function()
                {
                    var title = $("#title").html();
                    var content = $("#content").html();
                    var image = $('#image')[0].files[0]; 

                    var formData = new FormData();
                    formData.append('title', title);
                    formData.append('content', content);
                    formData.append('image',image);    
                    console.log("send data was called");
                    

                    var article_id = {{ article.article_id }};
                    console.log(content);
                   
                    
                    $.ajax({
                            url: "http://127.0.0.1:8000/"+article_id+"/editArticle",
                            data: formData,
                            type: 'POST',
                            contentType: false, 
                            processData: false, 
                            success: function(){return "we did it!"}
                        });
                };

                window.onload = function(){
                    // $('#title').html("{{article.title}}");
                    // $('#content').html("{{article.content}}");
                    // $('#picture_location').html("{{article.picture_location}}");
                    console.log("this script runs");
                    document.getElementById("done").onclick = send_data;
                };

        </script>    

         <!--$.post("http://127.0.0.1:8000/"+article_id+"/editArticle", formData, function(){return "we did it!"});-->


       

        <div id="title" contenteditable="true">{{article.title  | safe}} </div>
        <div id="content" contenteditable="true">{{article.content| safe }}</div>
        <!--div id="picture_location" contenteditable="true"> {{article.picture_location | safe}}</div-->
            
        <input id='image' type='file' name='file' />
        <button id="done"> done </button>

   
        
        
    </body>
</html>