<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Article Editor</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"> </script>
      
    </head>
    <body>

        <!-- Will later move this script to a separate file-->
         <script>
            
                var send_data = function()
                {
                    console.log("send data was called");
                    var title = $("#title").html();
                    var content = $("#content").html();
                    var picture_location = $("#picture_location").html();
                    var article_id = {{ article.article_id }};
                    console.log(content);
                    $.post("http://127.0.0.1:8000/"+article_id+"/editArticle", {"title":title, "content":content, "picture_location":picture_location}, function(){return "we did it!"});
                 
                };

                window.onload = function(){
                    // $('#title').html("{{article.title}}");
                    // $('#content').html("{{article.content}}");
                    // $('#picture_location').html("{{article.picture_location}}");
                    console.log("this script runs");
                    document.getElementById("done").onclick = send_data;
                };

        </script>    


       

        <div id="title" contenteditable="true">{{article.title  | safe}} </div>
        <div id="content" contenteditable="true">{{article.content| safe }}</div>
        <div id="picture_location" contenteditable="true"> {{article.picture_location | safe}}</div>

        <button id="done"> done </button>
        
        
    </body>
</html>