<!DOCTYPE html>
<html>
<head>
  <title>Unplugged</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{{path}}static/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="{{path}}static/css/unplugged.css">
  <link rel="stylesheet" type="text/css" href="{{path}}static/css/font-awesome.css">   

  <link rel="stylesheet" type="text/css" href="{{path}}static/css/jquery.bxslider.min.css"> 
    
  <script type="text/javascript" src="{{path}}static/js/jquery-3.2.0.min.js"></script>
  <script type="text/javascript" src="{{path}}static/js/unplugged.js"></script>
  <script type="text/javascript" src="{{path}}static/js/bootstrap.min.js"></script>
  
  <script type="text/javascript" src="{{path}}static/js/jquery.bxslider.min.js"></script>

</head>
<body>




	<nav class="navbar navbar-fixed-top">
	    <div class="container-fluid">
		<div class="navbar-header">
		    <a class="navbar-brand" href="#">Unplugged</a>
		</div>
		<ul class="nav navbar-nav pull-right">
		   		    <li><a href="#feeds">Feeds</a></li>
		    <li><a href="/profiletest#circles">Following</a></li>
		    <li><a href="/profiletest#discover">Discover</a></li>      
		    <li><a href="/profiletest#canvas">Canvas</a></li>
		    <li><a href="/feed">Read</a></li>
		    <li class="nav-profile" id="user_name"><a href="/profiletest">Nick</a></li>
		    <li><div class="nav-profile-img"><a href="/profiletest">
			<div class="nav-pro-img" id="profile_pic" style="background-image: url('{{path}}static/profile/nick_profile.jpg');"></div>
		    </a></div></li>

		    <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#" id="n" >
			<div class="fa fa-bars" style="color: grey; font-size: 30px;"></div>
			<ul class="dropdown-menu" id="notification">
			    <li><a href="#" style="display:block">qwertyuiop</a></li>
			</ul></a>
		    </li>
		    <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">
			<div class="fa fa-bars" style="color: grey; font-size: 30px;"></div>
			<ul class="dropdown-menu" id="m">

			    <li><a href="#">Account</a></li>
			    <li><a href="/canvas">write article</a></li>
			    <li><a href="/logout">Logout</a></li>
			    
			</ul></a>
		    </li>
		</ul>
	    </div>
	</nav>






<div  class="signup-body container-fluid"> 
	
<div style="height: 150px;"></div>
<div class="col-md-8 col-md-offset-2 signup-box">
<div class="signup-text">Article<button id="edit-icon" class="fa fa-pencil" style="font-size: 40px; margin-top: 30px; float: right; display: none" onclick="edit()"></button>
</div>

<p id="ididid" style="display:none;">{{aid}}</p>


          <div class="article" id= "article-title" contentEditable="false" placeholder="Title"></div>
	  <form id="form" enctype="multipart/form-data">
	      <input type="text" id="ttitle" name="title" style="display:none;">
	      <input type="text" id="tcontent" name="content" style="display:none;">
	      <input type="text" id="aid" name="aid" style="display:none;">
              <label id="upload" style="display: none;" class="btn btn-default btn-file">Upload Image <input type="file" id="imgInp" name="image" style="display: none;"></label>
	  </form>
              <img id="atricle-image" src="#" alt="your image" style="display: none" class="upload-image" 01/>
              

          <div class="article" id= "article-content" contentEditable="false" placeholder="Content"></div>
          <button id="edit" class="article-button" style="display: none" onclick="articleadd();">Add to Canvas</button>

</div>

</div>




</body>



<script type="text/javascript">
 






 function loadarticle(){

     $(function() {
	 $.getJSON('/secret/article', {
             articleid:{{aid}}
	 }, function(data) {
             if(!data.new)
		 {
		     console.log("not-new"),
		     $('#article-title').text(data.title),
		     $('#article-summary').text(data.summary),
		     $('#article-content').html(data.content),
		     $('#atricle-image').attr('src', data.image),
		     $('#atricle-image').show()

		     if(data.auth)editable()
		 }
             else write();
             
	 });
	 return false;
     });
 }

 loadarticle();

 function edit(){
     document.getElementById('edit').style.display="inline";
     document.getElementById('edit').innerHTML="Save Changes";
     divs=document.getElementsByClassName('article');
     for(var i=0;i<divs.length;i++){
	 divs[i].contentEditable="true";
	 divs[i].style.boxShadow="0px 0px 5px black";
	 $('#upload').show();


     }
 }

 function write(){
     document.getElementById('edit').style.display="inline";
     document.getElementById('edit').innerHTML="Add to Canvas";
     divs=document.getElementsByClassName('article');
     for(var i=0;i<divs.length;i++){
	 divs[i].contentEditable="true";    
	 divs[i].style.boxShadow="0px 0px 5px black";
	 $('#upload').show();
     }
 }


 function editable(){
     document.getElementById('edit-icon').style.display="inline";
 }





 function readURL(input) {

     if (input.files && input.files[0]) {
         var reader = new FileReader();

         reader.onload = function (e) {
             $('#atricle-image').attr('src', e.target.result),
             $('#atricle-image').show();
             
         }

         reader.readAsDataURL(input.files[0]);
     }
 }

 $("#imgInp").change(function(){
     readURL(this);
 });


 function articleadd(){
     $("#ttitle").val($("#article-title").text());
		    $("#tcontent").val($("#article-content").html().toString());
		    $("#aid").val(parseInt($("#ididid").text()));
     var formData = new FormData($("form#form")[0]);
     console.log(formData);
     $.ajax({
	 url:'http://127.0.0.1:8000/secret/article',
	 type:'POST',
	 dataType:'json',
	 data:formData,
	 processData:false,
	 contentType:false,
	 success: function(data) {
	     window.location.replace("/canvas/" + data.id);
	 }
     });

 }

		   
		    	 function update_values() {
	     $.getJSON("/secret",
		       function(a) {
			   console.log("ss");
			   
			   $("title").html(a.name);
			   $(".profile-name").text(a.name);
			   $(".profile-quote").text(a.tagline);
			   $(".profile-handle").text(a.handle);
			   $("#place").html('&nbsp;&nbsp;'+a.place);
			   $("#email").html('&nbsp;&nbsp;'+a.email);
			   $("#user_name").text(a.name);
			   p  = "url('../static/profile/" + a.picture + "')"
			   $("#profile_pic").css('background-image',p);
			   $("#nav-pro").css('background-image',p);
			   p = "url('../static/cover/" + a.cover + "')"
			   console.log(a.cover);
			   $("#top").css('background-image',p);
			   console.log(a.topics);
		    });}
		    update_values();

		     function v() {
	 $("#notification").html("<li style='display:block' onclick='v();console.log(\"refresh\");'>_______refresh______</li>");
	 console.log("m");
	 $.getJSON("/notification",function(a) {
	     for(var i=0; i<a.u_name.length; ++i)
		 {
		     html = "<pre>";
		     html += "<li align='center'><a href='/profile/" + a.u_id[i] + "'>";
		     html += a.u_name[i];
		     html += "</a> wrote ";
		     html += "<a href='/canvas/" + a.a_link[i] + "'>";
		     html += a.a_title[i];
		     html += "</a></li></pre>"
		     $("#notification").append(html);
		 }
	 });
     }
					     $(".fa.fa-bars").eq(0).on("click",v());
					     if($("#ididid").text() == "-1")
					     edit();
</script>



</html>
